{% load static %}


<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
	<link href="{% static 'css/stylesheet.css' %}" rel="stylesheet">

	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">

	<title>Invoice Management System</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
	<style>
		body,
		h1,
		h2 {
			font-family: "Raleway", sans-serif
		}

		body,
		html {
			height: 100%
		}

		p {
			line-height: 2
		}

		.bgimg,
		.bgimg2 {
			min-height: 100%;
			background-position: center;
			background-size: cover;
		}

		.bgimg {
			background-image: url("https://mcdn.wallpapersafari.com/medium/61/97/WOpd04.jpg")
		}
	</style>
</head>
<body>

<header class="w3-display-container w3-wide bgimg w3-grayscale-min" id="home">
<br/>
<br/>
<br/>

	<div class="w3-text-white w3-center">
		<h2 >This Project was design in Order to meet the Client based project for Software Enginnering.This Project was developed by Amin Lakhani,Muhammad Hamid & Abdul Wahab.EveryOne has equally contributed in designing this project.</h2>
		<h6><button class="w3-button w3-round w3-pale-red w3-padding-large w3-large w3-hover-opacity-off"><a href="/list_invoice">List Invoice</a>
			<hr/>
			<a href='add_invoice/' >New Invoice</a></button></h6>
	</div>
</header>